[submodule "contracts/lib/T-REX"]
	path = contracts/lib/T-REX
	url = https://github.com/TokenySolutions/T-REX
[submodule "contracts/lib/onchain-id-solidity"]
	path = contracts/lib/onchain-id-solidity
	url = https://github.com/onchain-id/solidity
[submodule "contracts/lib/openzeppelin-contracts-4.8.3"]
	path = contracts/lib/openzeppelin-contracts-4.8.3
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/lib/openzeppelin-contracts-upgradeable-4.8.3"]
	path = contracts/lib/openzeppelin-contracts-upgradeable-4.8.3
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
